<div class="page-title">
  <h4 *ngIf="isRoot">Заказ</h4>

  <h4 *ngIf="!isRoot">
    <a routerLink="/order">הזמנה</a>
    <i class="material-icons">keyboard_arrow_right</i>
    הוסף מוצרים
  </h4>

  <button class="waves-effect btn grey darken-1" (click)="open()" [disabled]="order.list.length ===0">
    סיים
  </button>
</div>




<router-outlet></router-outlet>


<div #modal class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="mb1">הזמנה שלך</h4>
    <table class="highlight">
      <thead>
        <tr>
          <th>כותרת</th>
          <th>כמות</th>
          <th>עלות</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of order.list">
          <td>{{item.name}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.cost}} ש"ח</td>
          <td><i class="material-icons pointer" (click)="removePosition(item)">delete</i></td>
        </tr>

      </tbody>
    </table>
    <div class="order-summary">
      <p> עלות כוללת <strong>{{order.price}} ש"ח</strong></p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="modal-action waves-effect waves-black btn-flat" (click)="cancel()"
      [disabled]="pending">ביטול</button>
    <button (click)="submit()" class="modal-action btn waves-effect" [disabled]="order.list.length === 0"
      [disabled]="pending">אישור</button>
  </div>
</div>
