<div class="filter">
  <div class="fr">
    <div class="col order">
      <div class="input-field inline order-position-input">
        <input type="number" id="number" min="1" [(ngModel)]="order">
        <label for="number">מספר הזמנה</label>
      </div>
    </div>
    <div class="col filter-pickers">
      <div class="input-field">
        <input type="text" #start>
        <label>התחלה</label>
      </div>

      <div class="input-field">
        <input type="text" #end>
        <label>סוף</label>
      </div>
    </div>
  </div>

  <button [disabled]="!isValid" class="btn waves-effect wavers-light btn-small" (click)="submitFilter()">ליישם
    סינון</button>
</div>
